.header {
    width: 100%;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

    .links {
        width: 30%;
        display: flex;
        justify-content: space-between;

        a:visited {
            color: white;
        }

        a:link {
            color: white;
        }
    }
}
